html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.information,
.quote, 
.footer {
    padding-left: 150px;
    padding-right: 150px;
}

.call-to-action {
    margin: 48px 150px;
}

.header {
    background: #1F2937;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

#center {
    display: flex;
    justify-content: space-between;
}

.header .top {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 48px;
    align-items: baseline;
    width: 80vw;
}

.header .hero-text {
    display: flex;
    max-width: 35%;
    flex-wrap: wrap;
}

.header .image {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    background-color: gray;
}


.header .header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

.main-text, 
.secondary-text {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.header .main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header button {
    border-width: 0px;
    padding: 8px 24px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.information .information-content {
    display: flex;
    justify-content: space-around;
}

.content {
    width: 12%;
    text-align: center;
}

.content .box {
    border: 2px solid #3882F6;
    border-radius: 15px;
    padding: 64px;
}

.information-header p {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.quote {
    background: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
}

.quote .quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

.quote .author {
    font-weight: bold;
    text-align: end;
    flex: 1;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.call-to-action {
    background: #3882F6;
    color: #F9FAF8;
    padding: 32px 64px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.call, 
.instruction {
    padding: 0;
    margin: 0;
}

.call-to-action .call {
    font-size: 18px;
    font-weight: 500;
}

.call-to-action .instruction {
    font-size: 14px;
    font-weight: lighter;
}

.call-to-action button {
    border: 1px solid #F9FAF8;
    padding: 8px 24px;
}

.footer {
    background: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #E5E7EB;
    align-self: center;
}

button {
    background: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding-left: 15px;
    padding-right: 15px;
}