html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.information,
.quote, 
.call-to-action,
.footer {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    background: #1F2937;
    display: flex;
    flex-wrap: wrap;
}

.header .top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: baseline;
    width: 80vw;
}

.header .hero-text {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}

.header .image {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}


.header .header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

.header .main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header button {
    border-width: 0px;
}

.information {

}

.information .information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.quote {
    background: #E5E7EB;

}

.quote .quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.call-to-action {
    background: #3882F6;
    color: #F9FAF8;
}

.call-to-action .call {
    font-size: 18px;
    font-weight: 500;
}

.call-to-action .instruction {
    font-size: 14px;
    font-weight: lighter;
}

.call-to-action button {
    border: 1px solid #F9FAF8;
}

.footer {
    background: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #E5E7EB;
    align-self: center;
}

button {
    background: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding-left: 15px;
    padding-right: 15px;
}